<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Spotihack</h1>
      <a href="/artist/create" class="btn btn-primary">Create Artist</a>
    </div>
  </div>
  <div class="row">
    {{#each artists as |artist|}}
    <div class="col-lg-4 artist-container">
      {{#if artist.image }}
      <img src="{{artist.image}}" alt="" class="artist-img">
      {{else}}
      <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="" class="artist-img">
      {{/if}}
      <div class="artist-info-container">
        <p>{{artist.name}}</p>
        <a href="/artist/{{artist.id}}/albums">View Albums</a>
        <a href="/artist/{{artist.id}}">View Detail</a>
        <a href="/artist/{{artist.id}}/edit">Edit</a>
        <a href="/artist/{{artist.id}}/delete">Delete</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>